@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$mycolors: (
  "neon-yellow": #fdff00,
  "neon-magenta": #00ff04,
  "neon-cyan": #00c5ff
);

$theme-colors: map-merge($theme-colors, $mycolors);

@import "bootstrap/scss/bootstrap.scss";

body {
  padding: 1.5rem;
  font-family: "Oswald", sans-serif !important;
}

.openSanFont {
  font-family: 'Open Sans', sans-serif !important;
}

.hover-style:hover {
  color: #FF5252 !important;
}

.nav-link:hover {
  color: #FF5252 !important;
}

.red-color-theme {
  color: #FF5252 !important;
}

.text-role {
  color: #ff7a7a;
}

.colored-underline {
  color: #FF5252;
  text-decoration-thickness: 3px;
}

.black-text {
  color: black;
}

.text-link-style {
  color: black;
  font-weight: bold;
}

.text-link-style:hover {
  color: #FF5252 !important;
}