@import "@fontsource/oswald";

$dark: rgba(34, 34, 34, 0.9);
$primary: #FF5252;
$enable-important-utilities: false;

.oswald {
  font-family: "Oswald", sans-serif;
}

.link-light:hover {
  --bs-link-hover-color: #FF5252;
}

a.link-light:hover {
  color: #FF5252;
}

.nav-link:hover {
  color: #FF5252 !important;
}

.red-color-theme {
  color: #FF5252 !important;
}

.text-role {
  color: #ff7a7a;
}

.colored-underline {
  color: #FF5252;
  text-decoration-thickness: 3px;
}

.black-text {
  color: black;
}

.text-link-style {
  color: black;
  font-weight: bold;
}

.text-link-style:hover {
  color: #FF5252 !important;
}

@import "bootstrap";